body {
    background-color: #A9A9A9;
    margin: 0;
    font-family: Arial, sans-serif;
}

.cabecario {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #5f5f5f;
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(255, 253, 253, 0.603);
}

.title {
    font-size:29px;
    margin: 10;
    letter-spacing: 0px;
}

.pesquisa {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    background-color: rgb(28, 28, 30);
    border-radius: 5px;
    border: none;
    padding: 8px 10px;
    outline: none;
    max-width: 200px;
    transition: box-shadow 0.3s ease;
}

.pesquisa:hover {
    box-shadow: 0 0 6px rgb(255, 255, 255);
}

.pesquisa:focus {
    box-shadow: 0 0 6px rgb(255, 255, 255);
}

.estoc {
    width: 96%;
    margin: 20px auto;
    font-size: 30px;
    text-align: left;
    color: white;
    font-weight: bold;
}


.tabela {
    width: 96%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.781);
    border-radius: 8px;
}

.tabela th, .tabela td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.781);
}

.tabela th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.tabela tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabela tr:hover {
    background-color: #e9e9e9;
}
.align-right {
    text-align: right;
}

button {
    padding: 7px 10px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 12px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #979797;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(39, 39, 39, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(39, 38, 38, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px;
}

.modal-conteudo {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.modal-conteudo button {
    margin-top: 10px;
}

#quantidade {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}
.adiciona {
    margin-left: 20px;
}

.sugestoes {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 200px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    z-index: 10;
}
.sugestoes div {
    padding: 8px;
    cursor: pointer;
}
.sugestoes div:hover {
    background-color: #ddd;
}

#historico {
    font-size: 14px;
    color: #333;
    overflow-y: auto;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#historico div {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}


.card {
    width: 300px;
    padding: 20px;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-family: Arial, sans-serif;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

button.tooltip {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: none;
    background-color: rgba(100, 77, 237, 0.08);
    border-radius: 50%;
    transition: all 0.2s linear;
}

button.tooltip:hover {
    box-shadow: 3.4px 2.5px 4.9px rgba(0, 0, 0, 0.025),
                8.6px 6.3px 12.4px rgba(0, 0, 0, 0.035),
                17.5px 12.8px 25.3px rgba(0, 0, 0, 0.045),
                36.1px 26.3px 52.2px rgba(0, 0, 0, 0.055),
                99px 72px 143px rgba(0, 0, 0, 0.08);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Rodapé do card */
.card-footer {
    text-align: center;
    margin-top: 20px;
}

.mostrar-card {
    background-color: #e2e2e2;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mostrar-card:hover {
    background-color: #a5a5a5;
}

.close-btn {
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: red;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 4em;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.253) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#deleteHistoryModal {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.historicexclu {
    cursor: pointer;
    padding: 10px;
    background-color: #6361D9;
    color: white;
    border: none;
    border-radius: 5px;
}

.historicexclu:hover {
    background-color: #5350b3;
}

.input-group {
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.input-prod {
    border: solid 1.5px #9e9e9e;
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.user-label {
    position: absolute;
    left: 15px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}

.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #000000;
}

.input:focus ~ label, input:valid ~ label {
    transform: translateY(-100%) scale(0.8);
    background-color: #21212100;
    padding: 0 .2em;
    color: #000000;
}

.lixeira {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    gap: 2px;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .lixeria:hover {
    transition-duration: 0.3s;
    background-color: rgb(172, 172, 172);
    align-items: center;
    gap: 0;
  }
  
  .bin-top {
    transform-origin: bottom right;
  }
  .lixeira:hover .bin-top {
    transition-duration: 0.5s;
    transform: rotate(160deg);
  }
  /* From Uiverse.io by Praashoo7 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}