:root {
  --img-width: 150px;
}
header {
  width: 100%;
  background-color: #5c5c5c;
  color: rgb(255, 251, 251);
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
header h1 {
  font-size: calc(var(--img-width) / 3);
  margin: 0;
}
.input {
  margin: 0;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: rgb(255, 255, 255);
}
#img-ccb {
  width: var(--img-width);
  height: auto;
}
/* Barra lateral */
.side-bar {
  position: fixed;
  top: 0;
  left: -300px; /* Inicialmente, a barra está fora da tela */
  width: 300px;
  height: 100%;
  background-color: #9b9b9b;
  color: white;
  transition: left 0.5s ease; /* Transição suave para mover a barra */
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}

/* Barra lateral visível */
.side-bar.active {
  left: 0; /* Quando ativa, a barra desliza para a posição */
}

/* Estilo da lista na barra lateral */
.side-bar ul {
  list-style-type: none;
  padding: 0;
}

.side-bar ul li {
  margin: 15px 0;
}

.side-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
/* Flexbox para alinhar o botão dentro da div */
.button-container-barra {
  display: block; /* Faz o botão se comportar como um item de lista */
  margin-top: 20px; /* Espaçamento para separar o botão dos links */
}
/* Estilo dos botões */
.button-container-barra button {
  display: block; /* Faz o botão se comportar como um item de bloco */
  width: 100%; /* Faz o botão ocupar toda a largura da div */
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0; /* Espaço entre os botões */
  cursor: pointer;
}
/* Estilo do ícone de fechar */
.close-icon {
  position: absolute; /* Fixa o ícone no canto */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  font-size: 30px;
  color: white;
  cursor: pointer;
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
  }
  .input {
    width: 50%;
    max-width: 300px;
  }
}
@media (max-width: 400px) {
  :root {
    --img-width: 100px;
  }
  header {
    padding: 10px;
  }
  header h1 {
    font-size: calc(var(--img-width) / 3);
  }
  .input {
    padding: 8px 16px;
    font-size: 14px;
  }
}
